*{
    box-sizing: border-box;
    list-style-type: none;

}
body{
    color: #374259;
    background-color: #F2D8D8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin: 25px 10px 25px 10px;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, auto) ;
    grid-template-columns: auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
header{
    height: 15%;
    text-align: center;
    grid-area: header;
}
.navPrincipal a{
    text-decoration: none;
    color: #374259;
    background-color: #5C8984;
    padding: 5px 25px 5px 25px;
    margin-right: 50px;
    border-radius: 50px; 
    grid-area: header;
}
h1{
    color: #5C8984;
    text-align: center;
}
h2{
    color: #5C8984;
    text-align: center;
}
p{
    margin: auto;
}

main{
    grid-area: main;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: 
    "inicio"
    "productos"
    "contacto"
    "ayuda";
}

#inicio{
    grid-area: inicio;
}
#productos{
    grid-area: productos;
}
#contanto{
    grid-area: contacto;
}
#ayuda{
    grid-area: ayuda;
}

p{
    color: #374259;
}
li{
    color: #374259;
}
dl{
    color: #374259;
}
img{
    width: 300px;
    height: 300px;
    display: block;
    margin: 25px;
}
footer{
    grid-area: footer;
    text-align: center;
}
footer img{
    width: 30px;
    height: 30px;
    display: inline;
    border-radius: 150%;
}